<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mabatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="User" type="com.prosper.whisper.service.bean.User" />
	</typeAliases>

	<mappers>
		<mapper resource="com/prosper/whisper/service/mapper/userMapper.xml"/>
	</mappers>
</configuration>